*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    
}

li{
    list-style: none;
}

.container{
    display: flex;
    height: 700px;
    flex-direction: row-reverse;
    padding: 25px;
    background-color: rgba(143, 188, 143, 0.719);;
}

.main{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar{
    width: 400px;
    height: 560px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

/* .sidebar */

.image-user{
    padding-top: 33px;
    display: flex;
    justify-content: center;
}

.contact-user{
    display: flex;
    justify-content: center;
}

.contact-user-first-child{
    width: 300px;
    padding: 20px 0px 20px 0px;
}

/* two-lists  in contact-user*/

.two-lists{
    padding-top: 10px;
    display: flex;
}

.text-list li{
    padding: 0px 0px 10px 10px;
    color: #fff;
}

.text-list li a{
   color: black;
}

/* main */

.wrapper{
    width: 800px;
}

.wrapper h1{
    margin-top: 5px;
}

.wrapper h3{
    padding-bottom:10px ;
}

.name-user{
    margin-bottom: 10px;
}

.learning-skilis{
    margin-bottom: 15px;
}

.about-user{
    width: 600px;
    margin: 15px 0px 15px 0px;
}

.about-user p{
    padding-bottom: 8px;
}

.career-objective{
    width: 600px;
}




